<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Playwrite+DE+LA+Guides&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<div class="container">
    <h1 class="title">
        {{ page.title }}
    </h1>
    <header>
        {% include header.html %}
    </header>
    <h2 class="heading">{{ page.heading }}</h2>
    <div class="content">
        {{ content }}
    </div>
</div>
</body>
</html>